<%= link_to image_tag(comment.user.image, class: 'commentimgwedth') %>
<%= comment.user.full_name %><br>
<%= comment.created_at %><br>
<div class="well" style="color: blue">
  <%= comment.comment %>
</div>  
<br><br>