<div class="col-lg-4">
  <div class="field form-group">
    <%= form.label field %>
    <%= form.text_field field, class: 'form-control', placeholder: 'Please add $ at the end of line $ considered as end of line'%><br>
  </div>
</div>