<div class="col-lg-10">
	<h1>Portfolios</h1>
	<div class="card">
		<article class="card-body">
		  <%= link_to 'Add Portfolio', new_portfolio_path, class: 'btn btn-primary float-right mb-2' %>
		  <table class="table table-hover">
		    <thead>
		    	<tr>
		    	  <td>Publisher Name</td>
		    	  <td>Publisher Email</td>
		    	  <th colspan="1">Options</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	<% @portfolios.each do |portfolio| %>
		    	  <tr>
		    	  	<td><%= portfolio.user.full_name %></td>
		    	  	<td><%= portfolio.user.email %></td>
		    	  	<td><%= link_to 'show', portfolio_path(portfolio), class: 'btn btn-primary' %></td>
		    	  </tr>
		    	<% end %>
		    </tbody>
		  </table>	
		</article>
	</div>
</div>