<!-- <div class="col-lg-9">
  <div class="card mx-auto mt-5 mb-5 w-25">
    <article class="card-body">
      <header class="mb-4"><h4 class="card-title">Add User</h4></header> -->
        <%= link_to close_dialog_admin_users_path, remote: true do %>
          <i class="fa fa-window-close float-right" aria-hidden="true"></i>
        <% end %>
        <br>

        <%= form_for :anything, url: send_mail_admin_users_path, method: :get do |f| %>

          <%# render 'shared/error', instance: @user %>

          <div class="field form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter Email.......", class: 'form-control w-25 float-right' %>
          </div><br><br>

          <div class="actions form-group">
            <%= f.submit "Submit", class: "btn btn-primary float-right" %>
          </div>
        <% end %>
    <!-- </article>
  </div>
</div> -->
